
* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;

}

body {
    background: radial-gradient(50% 50% at 50% 50%, #44464B 0%, #28292F 100%); 
    color:rgba(255, 255, 255, 1);
    font-family: "Montserrat", serif;
}

nav {
	width: 1196px;
	height: 60px;
    margin-top: 22px;
    margin-left: 40px;
    margin-right: 40px;
}

nav a {
    color:rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    opacity: 0px;
    }

.rightnav {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;

}

.icons {
    width: 30px;
    height: 30px;
}

h1 {
    color: rgba(137, 255, 253, 1);
    font-size: 161px;
    font-weight: 800;
    line-height: 196.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.section1 {
    width: 1196px;
    height: 601px;
    opacity: 0px;
    margin-left: 40px;
    margin-right: 40px;


}

h3 {
    font-size: 41px;
    font-weight: 800;
    line-height: 49.98px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.firstp {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.smallcontainer {
    flex-direction: column;
    width: 514px;
    height: 427px;

}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button {
    width: 172px;
    height: 50px;
    background: rgba(239, 50, 217, 1);
    border: 2px solid rgba(239, 50, 217, 1);
    color:rgba(255, 255, 255, 1);

}

.shoe {
    width: 122px;
    height: 54px; 
   
}

.shoebox {
    width: 122px;
    height: 122px;
    border: 2px solid rgba(255, 255, 255, 1);
}




.no-bullets {
    list-style-type: none;
}